# Application
DEBUG=false

# RabbitMQ
RABBITMQ_URL=amqp://stackup:stackup@localhost:5672/

# S3 / MinIO
S3_ENDPOINT_URL=http://localhost:9000
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_BUCKET_NAME=stackup

# LLM API Keys
OPENAI_API_KEY=
GOOGLE_API_KEY=
